html {
  font-size: 10px;
  @media (max-width: 1200px) {
    font-size: 9px;
  }
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #333;
  font-family: "Montserrat", serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

html, body {
  min-height: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main.content {
  position: relative;
  flex: 1;
}

a {
  font-family: "Montserrat", serif;
  font-weight: 400;
}

img:not(.pswp__img) {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

svg {
  width: 100%;
  height: 100%;
}

.not-active {
  pointer-events: none;
  opacity: 0.6;
  transition: 0.3s ease;
}

.preloader img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.preloader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2rem;
  background-color: rgba(0, 122, 255, .1);
  opacity: 0;
  transition: 0.1s ease;
  pointer-events: none;
  z-index: 1;
}

.preloader.active {
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 20;
}

img.contain {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

img.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section {
  position: relative;
}

.container {
  width: 100%;
  max-width: 105rem;
  margin: 0 auto;

  @media (max-width: 1600px) {
    padding: 0 1.6rem;
  }
}

strong {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

.section {
  position: relative;

  &:not(.head-section) {
    padding: 9rem 0;
    @media (max-width: 1024px) {
      padding: 4rem 0;
    }
  }
}

.hidden {
  display: none !important;
}


.modal-window {
  display: none;
  padding: 4rem;
  width: 100%;
  max-width: 50.4rem;
  background: #FFF;

  @media (max-width: 500px) {
    padding: 4rem 2rem;
  }

  &__title {
    margin-bottom: 2.4rem;
    color: #020A1B;
    font-family: "Exo 2", serif;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.014rem;
    text-transform: uppercase;
    @media (max-width: 1024px) {
      margin-bottom: 2rem;
      font-size: 2rem;
    }
  }

  &__text {
    margin-bottom: 3rem;
  }

  &-conditions {
    width: 100%;
    max-width: 77rem;
  }

  &-buttons {
    display: flex;
    gap: 1rem;

    & > * {
      flex: 1;
    }
  }

  &-notice {
    text-align: center;

    &__button {
      width: 100%;
    }
  }
}


.copy-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  margin-left: 1rem;
  padding: 0.4rem;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 50%;
  border: 1px solid #5F638D;
  background-color: #F9FAFF;
  transition: 0.5sease;
}
.pagination-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}
.circle-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  padding: 1rem;
  border-radius: 50%;
  border: 1px solid #5F638D;
  transition: 0.5s ease;
  &:hover {
    transform: rotate(90deg);
  }
  svg path {
    fill: #1B215C;
  }
}
img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}