html {
  font-size: 10px;
  @media (max-width: 1200px) {
    font-size: 9px;
  }
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #333;
  font-family: "Montserrat", serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  &.single-bill{
    background: #F2F3F9;
  }
}

html, body {
  min-height: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main.content {
  position: relative;
  flex: 1;
}

a {
  font-family: "Montserrat", serif;
  font-weight: 400;
}

img:not(.pswp__img) {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

svg {
  width: 100%;
  height: 100%;
}

.not-active {
  pointer-events: none;
  opacity: 0.6;
  transition: 0.3s ease;
}

.preloader img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.preloader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2rem;
  background-color: rgba(0, 122, 255, .1);
  opacity: 0;
  transition: 0.1s ease;
  pointer-events: none;
  z-index: 1;
}

.preloader.active {
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 99999;
}

img.contain {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

img.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section {
  position: relative;
}

.container {
  width: 100%;
  max-width: 105rem;
  margin: 0 auto;

  @media (max-width: 1600px) {
    padding: 0 1.6rem;
  }
}

strong {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

.section {
  position: relative;

  &:not(.head-section) {
    padding: 9rem 0;
    @media (max-width: 1024px) {
      padding: 4rem 0;
    }
  }
}

.hidden {
  display: none !important;
}


.modal{

  &-buttons{
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: center;
    & > *{
      width: calc(50% - 1rem);
    }
  }
  &-window {
    display: none;
    padding: 4rem;
    width: 100%;
    max-width: 50.4rem;
    background: #FFF;
    @media (max-width: 500px) {
      padding: 4rem 2rem;
    }

    &__title {
      margin-bottom: 2.4rem;
      color: #020A1B;
      font-size: 2.8rem;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;
      letter-spacing: 0.014rem;
      text-transform: uppercase;
      @media (max-width: 1024px) {
        margin-bottom: 2rem;
        font-size: 2rem;
      }
    }

    &__text {
      margin-bottom: 3rem;
    }

    &-conditions {
      width: 100%;
      max-width: 77rem;
    }

    &-buttons {
      display: flex;
      gap: 1rem;

      & > * {
        flex: 1;
      }
    }

    &-notice {
      text-align: center;

      &__button {
        width: 100%;
      }
    }
  }
  &-views{
    max-width: 100rem;
    padding: 4rem 1rem;
  }
}


.copy-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  margin-left: 1rem;
  padding: 0.4rem;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 50%;
  border: 1px solid #5F638D;
  background-color: #F9FAFF;
  transition: 0.5sease;
}
.pagination-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}
.circle-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  padding: 1rem;
  border-radius: 50%;
  border: 1px solid #5F638D;
  transition: 0.5s ease;
  &:hover {
    transform: rotate(90deg);
  }
  svg path {
    fill: #1B215C;
  }
}
img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

select{
  outline: none;
}

.text-center{
  text-align: center;
}


.text {
  color: #888;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;

  &--columns {
    column-count: 2;
    column-gap: 6rem;
    @media (max-width: 768px) {
      column-gap: 3rem;
    }
    @media (max-width: 600px) {
      column-count: 1;
    }
  }


  ol {
    counter-reset: list;

    li {
      &:not(:last-child) {
        margin-bottom: 1.4rem;
      }

      list-style-type: none;
      position: relative;
      padding-left: 2rem;

      &:before {
        position: absolute;
        left: 0;

        counter-increment: list;

        content: counter(list) ". ";

        color: #E32A2F;
      }
    }
  }

  h6 {
    color: #0C0E12;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3rem;
    text-transform: uppercase;
    @media (max-width: 768px) {
      font-size: 2rem;
    }
  }

  h5 {
    color: #0C0E12;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.4rem;
    @media (max-width: 768px) {
      font-size: 2.2rem;
      line-height: 3rem;
    }
  }

  h4 {
    color: #0C0E12;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 4rem;
    @media (max-width: 768px) {
      font-size: 2.6rem;
      line-height: 3rem;
    }
  }

  h3 {
    color: #0c0e12;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4.8rem;
    margin-bottom: 4rem;
    text-transform: uppercase;
    @media (max-width: 768px) {
      font-size: 3rem;
      line-height: 4rem;
    }
  }

  h2 {
    color: #0C0E12;
    font-size: 4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 5rem;
    @media (max-width: 768px) {
      font-size: 3.2rem;
      line-height: 4rem;
    }
  }

  h1 {
    color: #0C0E12;
    font-size: 4.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 5rem;
    @media (max-width: 768px) {
      font-size: 3.4rem;
      line-height: 4rem;
    }
  }

  & > * {
    &:not(:last-child) {
      margin-bottom: 1.6rem;
      @media (max-width: 768px) {
        margin-bottom: 1.2rem;
      }
    }
  }

  a {
    color: #628EFF;

    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    li {
      position: relative;
      padding-left: 2.2rem;

      &:before {
        display: block;
        content: '/';
        position: absolute;
        top: 0;
        left: 0;
        color:#E43E59;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2rem;
      }

      &:not(:last-child) {
        margin-bottom: 1.4rem;
        @media (max-width: 768px) {
          margin-bottom: 1rem;
        }
      }
    }
  }

}