.archive{
  &-table{
    width: 100%;
    max-width: 109rem;
    margin: -9rem auto 0;
    background: rgba(242, 243, 249, 0.26);
    &-controls{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 1rem;
      input, select{
        background-color: rgba(0,0,0,0);
        border: none;
        color: #333;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        font-family: "Montserrat", serif;
      }
    }
    &-row{
      display: flex;
      padding: 1rem 4rem;
      border-bottom: 2px solid #E2E3EE;
      &__title{
        color: #333;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
      }
    }
    &-column{
      width: calc(50% - 1rem);
      &:not(:last-child){
        margin-right: 1rem;
      }
    }
    &__title{
      color: #202554;
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 600;
      line-height: 150%;
    }
    &-head{
      padding: 3rem 4rem;
      height: 9rem;
      background: #F2F3F9;
    }
  }
  &-section{
    padding-top: 0!important;

  }
}