.bill{
  &-offers{
    &-item{
      &__icon{
        width: 2.4rem;
        height: 2.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0.8rem;
        flex-grow: 0;
        flex-shrink: 0;
      }
      &__link{
        display: flex;
        color: #5261DF;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: 160%;
      }
      &:not(:last-child){
        margin-bottom: 1rem;
      }
    }
  }
  &__description{
    margin-bottom: 1.5rem;

  }
  &__title{
    margin-bottom: 1.5rem;
    color: #202554;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  &-box{
    width: 100%;
    max-width: 52rem;
    border-radius: 0.8rem;
    margin: -9rem auto 0;
    background: #FFF;
    &-body{
      padding: 2.8rem 4rem 4rem;
    }
    &-head{
      padding: 4rem 4rem 2.8rem;
      border-bottom: 1px solid #E2E6F8;
    }
  }
  &-section{
    padding-top: 0!important;
  }
}