.head{
  &__title{
    color: #FFF;
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  &-section{
    padding-top: 20rem;
    padding-bottom: 12rem;
    min-height: 40rem;
    background: linear-gradient(180deg, #2C315D 0%, #1F223F 100%);
    @media (max-width: 767px){
      padding-bottom: 4rem;
      min-height:auto;
    }
  }
}