
.connect {
  position: fixed;
  bottom: 10rem;
  right: 5rem;
  z-index: 20;
  @media (max-width: 450px) {
    bottom: 2rem;
    right: 2rem;
  }
}


.connect-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1.6rem 1.4rem;
  padding-top: 1.8rem;
  width: 5.6rem;
  height: 5.6rem;
  background: #889EFC;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  border-radius: 50%;
}

.connect-button__item svg {
  width: 100%;
  height: 100%;
}

.connect-button svg {
  width: 23px;
  height: 21px;
}

.connect-button:hover {
  background: #7389EA;
}

.connect-wrapper {
  position: absolute;
  left: 0;
  width: 5.6rem;
  bottom: calc(100% + 1.5rem);
  pointer-events: none;
}

.connect-button__item span {
  position: absolute;
  right: calc(100% + 1.5rem);
  top: 50%;
  opacity: 0;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  font-family: "Montserrat", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  color: #797A87;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  pointer-events: none;
}

.connect-button__item:not(:last-child) {
  margin-bottom: 1.5rem;
}

.connect-button__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  -webkit-transform: translateY(50%);

  -ms-transform: translateY(50%);

  transform: translateY(50%);
  opacity: 0;

  width: 5.6rem;
  height: 5.6rem;
  padding: 1.5rem;
  background: #F9FAFF;
  border: 1px solid #BABDD1;
  border-radius: 50%;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-box-shadow: 0px 8px 15px rgba(92, 101, 170, 0);
  box-shadow: 0px 8px 15px rgba(92, 101, 170, 0);
}

.connect-button__item:nth-child(1):not(.transition-none) {
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.connect-button__item:nth-child(2):not(.transition-none) {
  -webkit-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.connect-button__item:nth-child(3):not(.transition-none) {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

.connect-button__item:nth-child(4):not(.transition-none) {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

.connect-wrapper.active {
  pointer-events: auto;
}

.connect-wrapper.active .connect-button__item {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.connect-button__item:hover {
  background: #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 0);
  -webkit-box-shadow: 0px 8px 15px rgba(92, 101, 170, 0.2);
  box-shadow: 0px 8px 15px rgba(92, 101, 170, 0.2);
}

.connect-button__item:hover span {
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 1;
}

.connect-massage {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  bottom: 0;
  right: calc(100% + 2rem);
  padding: 2rem;

  width: 37rem;

  background: #F9FAFF;
  border: 1px solid #BABDD1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 15px;
  border-bottom-right-radius: 0;

  font-family: "Montserrat", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.9rem;
  color: #656B9B;
}

.connect-massage__close svg path {
  fill: #A7A9C5;
}

.connect-massage__close svg {
  width: 100%;
  height: 100%;
}

.connect-massage__close {
  position: absolute;
  display: block;
  top: 1.8rem;
  right: 1.8rem;
  width: 1.2rem;
  height: 1.2rem;
}

.connect-massage strong {
  font-family: "Montserrat", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: #1B215C;
}

.connect-massage__icon img {
  max-width: 100%;
}

.connect-massage__icon svg {
  width: 100%;
  height: 1.4rem;
}

.connect-massage__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 0.8rem;
  width: 6rem;
  height: 6rem;
  margin-right: 1.4rem;
  border-radius: 50%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 10px rgba(92, 101, 170, 0.07);
  box-shadow: 0px 5px 10px rgba(92, 101, 170, 0.07);
}