.header {
  &__logo {
    width: 8rem;
    height: 4rem;
    flex-shrink: 0;
    flex-grow: 0;
  }

  &-container {
    &__logo {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      width: 31rem;
      height: 31rem;
      padding-bottom: 4rem;
      padding-top: 22rem;
      flex-shrink: 0;
      flex-grow: 0;
      border-radius: 50%;
      border: 1px solid rgba(0, 0, 0, 0.09);
      background: rgba(35, 39, 71, 0.71);
    }
  }
}